*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 13px ), repeating-linear-gradient( #68686855, #686868 );
    font-family: 'Yeseva One', cursive;
}
.a{
    background-color: black;
    width: 1500px;
    height: 120px;
    padding: 10px;
    font-size: 30px;
}
a{
    color: white;
}
h1{
    font-size: 70px;
    color: white;
    text-align: center;
}
.float{
    margin-top: 50px;
}
.img1{
    float: left;
    max-width: 45%;
}
.img2{
    float: right;
    max-width: 45%;
}
img{
    padding: 10px;
}
p{
    font-size: 35px;
    color: white;
}